In [7]:
setwd('/Users/erinweaver/Documents/GitHub/PP1 - Customer Segmentation')

In [21]:
marketing <- read.csv("Data/marketing_campaign.csv", header = TRUE, sep = "\t")

In [22]:
head(marketing)

  ID   Year_Birth Education  Marital_Status Income Kidhome Teenhome Dt_Customer
1 5524 1957       Graduation Single         58138  0       0        04-09-2012
2 2174 1954       Graduation Single         46344  1       1        08-03-2014
3 4141 1965       Graduation Together       71613  0       0        21-08-2013
4 6182 1984       Graduation Together       26646  1       0        10-02-2014
5 5324 1981       PhD        Married        58293  1       0        19-01-2014
6 7446 1967       Master     Together       62513  0       1        09-09-2013
  Recency MntWines ⋯ NumWebVisitsMonth AcceptedCmp3 AcceptedCmp4 AcceptedCmp5
1 58      635      ⋯ 7                 0            0            0
2 38       11      ⋯ 5                 0            0            0
3 26      426      ⋯ 4                 0            0            0
4 26       11      ⋯ 6                 0            0            0
5 94      173      ⋯ 5                 0            0            0
6 16      520      ⋯ 6                 0            0            0
  AcceptedCmp1 AcceptedCmp2 Complain Z_CostContact Z_Revenue Response
1 0            0            0        3             11        1
2 0            0            0        3             11        0
3 0            0            0        3             11        0
4 0            0            0        3             11        0
5 0            0            0        3             11        0
6 0            0            0        3             11        0

In [25]:
unique(marketing$Year_Birth)

 [1] 1957 1954 1965 1984 1981 1967 1971 1985 1974 1950 1983 1976 1959 1952 1987
[16] 1946 1980 1949 1982 1979 1951 1969 1986 1989 1963 1970 1973 1943 1975 1996
[31] 1968 1964 1977 1978 1955 1966 1988 1948 1958 1972 1960 1945 1991 1962 1953
[46] 1961 1956 1992 1900 1893 1990 1947 1899 1993 1994 1941 1944 1995 1940